#
# Copyright (C) 2016+ AzerothCore <www.azerothcore.org>, released under GNU AGPL v3 license: https://github.com/azerothcore/azerothcore-wotlk/blob/master/LICENSE-AGPL3
#

[worldserver]

########################################
# Character Services Mod Configuration
########################################
#
#    CharacterServices.Enable
#        Description: Enable the character services module
#        Default:     1 - Enabled
#                     0 - Disabled
#
#    CharacterServices.NameChange.Enable
#        Description: Enable the name change service
#        Default:     1 - Enabled
#                     0 - Disabled
#
#    CharacterServices.AppearanceChange.Enable
#        Description: Enable the appearance change service
#        Default:     1 - Enabled
#                     0 - Disabled
#
#    CharacterServices.RaceChange.Enable
#        Description: Enable the race change service
#        Default:     1 - Enabled
#                     0 - Disabled
#
#    CharacterServices.FactionChange.Enable
#        Description: Enable the faction change service
#        Default:     1 - Enabled
#                     0 - Disabled
#
#    CharacterServices.ProgressionTier.Enable
#        Description: Enable the progression tier purchase service
#                    (Allows characters to purchase progression tiers up to the account's maximum achieved tier)
#        Default:     1 - Enabled
#                     0 - Disabled
#
#    CharacterServices.ProgressionTier.MaxApplicableTier
#        Description: Set the maximum tier level that can be purchased via the service
#                    (Set to 0 to allow all tiers to be purchased up to the account's max)
#        Default:     0 - No limit (use account's maximum tier)
#                     1-16 - Specific maximum tier limit
#

CharacterServices.Enable = 1

CharacterServices.NameChange.Enable = 0
CharacterServices.AppearanceChange.Enable = 0
CharacterServices.RaceChange.Enable = 0
CharacterServices.FactionChange.Enable = 0
CharacterServices.ProgressionTier.Enable = 1
CharacterServices.ProgressionTier.MaxApplicableTier = 16

#
#    CharacterServices.DynamicCost.Enable
#        Description: Enables scaling cost for services based on the player's level (player level / 80) * cost
#        Default:     1 - Enabled
#                     0 - Disabled
#
#    CharacterServices.Cost.NameChange
#        Description: The cost to purchase a name change in gold
#        Default:     25
#
#    CharacterServices.Cost.AppearanceChange
#        Description: The cost to purchase an appearance change in gold
#        Default:     50
#
#    CharacterServices.Cost.RaceChange
#        Description: The cost to purchase a race change in gold
#        Default:     100
#
#    CharacterServices.Cost.FactionChange
#        Description: The cost to purchase a faction change in gold
#        Default:     250
#

CharacterServices.DynamicCost.Enable = 0

CharacterServices.Cost.NameChange = 25
CharacterServices.Cost.AppearanceChange = 50
CharacterServices.Cost.RaceChange = 100
CharacterServices.Cost.FactionChange = 250

#
#    CharacterServices.Cost.ProgressionTier.X
#        Description: The cost to purchase specific progression tier X in gold
#                    Note: These costs are per tier, not cumulative
#
#    Progression Tier Reference:
#        PROGRESSION_START           = 0  (Starting state - no purchases available)
#        PROGRESSION_MOLTEN_CORE     = 1  (Molten Core)
#        PROGRESSION_ONYXIA          = 2  (Onyxia's Lair)
#        PROGRESSION_BLACKWING_LAIR  = 3  (Blackwing Lair)
#        PROGRESSION_PRE_AQ          = 4  (Pre-Ahn'Qiraj content)
#        PROGRESSION_AQ_WAR          = 5  (AQ War Effort)
#        PROGRESSION_AQ              = 6  (Ahn'Qiraj)
#        PROGRESSION_NAXX40          = 7  (Naxxramas - Vanilla)
#        PROGRESSION_PRE_TBC         = 8  (Pre-TBC)
#        PROGRESSION_TBC_TIER_1      = 9  (Karazhan, Gruul's Lair, Magtheridon's Lair)
#        PROGRESSION_TBC_TIER_2      = 10 (Serpentshrine Cavern, Tempest Keep)
#        PROGRESSION_TBC_TIER_3      = 11 (Hyjal Summit, Black Temple)
#        PROGRESSION_TBC_TIER_4      = 12 (Zul'Aman)
#        PROGRESSION_TBC_TIER_5      = 13 (Sunwell Plateau)
#        PROGRESSION_WOTLK_TIER_1    = 14 (Naxxramas, Eye of Eternity, Obsidian Sanctum)
#        PROGRESSION_WOTLK_TIER_2    = 15 (Ulduar)
#        PROGRESSION_WOTLK_TIER_3    = 16 (Trial of the Crusader)
#        PROGRESSION_WOTLK_TIER_4    = 17 (Icecrown Citadel)
#        PROGRESSION_WOTLK_TIER_5    = 18 (Ruby Sanctum)
#

# Vanilla progression costs
# Molten Core
CharacterServices.Cost.ProgressionTier.1 = 150
# Onyxia
CharacterServices.Cost.ProgressionTier.2 = 200
# Blackwing Lair
CharacterServices.Cost.ProgressionTier.3 = 250
# Pre-AQ
CharacterServices.Cost.ProgressionTier.4 = 300
# AQ War Effort
CharacterServices.Cost.ProgressionTier.5 = 325
# AQ
CharacterServices.Cost.ProgressionTier.6 = 350
# Naxx40
CharacterServices.Cost.ProgressionTier.7 = 400

# Pre-TBC
CharacterServices.Cost.ProgressionTier.8 = 600

# TBC progression costs
# TBC Tier 1 (Karazhan, Gruul, Magtheridon)
CharacterServices.Cost.ProgressionTier.9 = 1000
# TBC Tier 2 (SSC, TK)
CharacterServices.Cost.ProgressionTier.10 = 1250
# TBC Tier 3 (Hyjal, BT)
CharacterServices.Cost.ProgressionTier.11 = 1500
# TBC Tier 4 (ZA)
CharacterServices.Cost.ProgressionTier.12 = 1600
# TBC Tier 5 (Sunwell)
CharacterServices.Cost.ProgressionTier.13 = 1700

# WotLK progression costs
# WotLK Tier 1 (Naxx, EoE, OS)
CharacterServices.Cost.ProgressionTier.14 = 2000
# WotLK Tier 2 (Ulduar)
CharacterServices.Cost.ProgressionTier.15 = 2500
# WotLK Tier 3 (TotC)
CharacterServices.Cost.ProgressionTier.16 = 3000
# WotLK Tier 4 (ICC)
CharacterServices.Cost.ProgressionTier.17 = 3500
# WotLK Tier 5 (Ruby Sanctum)
CharacterServices.Cost.ProgressionTier.18 = 4000
